<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
<title>home page</title>
</head>

<body>
	<div class="container"><br>
	<a th:href="@{/saveAgentPage}" class="btn btn-primary btn-sm">Add Agent</a>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">AgentId</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">DepartmentId</th>
      	 <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="agent: ${agentlist}">
      <th th:text="${agent.agentId}" scope="row"></th>
      <td th:text="${agent.agentName}"></td>
      <td th:text="${agent.agentLastName}"></td>
		<td th:text="${agent.territoryEntity.territoryName}"></td>
		<td>
		 <a th:href="@{/updateAgentPage/{agentId}(agentId=${agent.agentId})}" class="btn btn-primary">Update</a>
         <a th:href="@{/deleteAgent/{agentId}(agentId=${agent.agentId})}" class="btn btn-danger">Delete</a>
		</td>
    </tr>
    
  </tbody>
</table>
	</div>

</body>

</html>