<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<title>Update Page</title>
</head>

<body>
	<div class="container"><br>
          <h1 style="color:blue;">Agent Update Form</h1>
		<form class="col-5" th:action="@{/saveAgent}" th:object="${agent}" method="post">

            <input hidden="hidden" th:field="*{agentId}" />
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">FirstName</label>
				<input type="text" th:field="*{agentName}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput2" class="form-label">LastName</label>
				<input type="text" th:field="*{agentLastName}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput3" class="form-label">DepartmentId</label>
				<input type="number" th:field="*{territoryEntity}" class="form-control">
			</div>
			
			<button type="submit" class="btn btn-success">Update Agent</button>
		</form>

        <br>
		<a th:href="@{/}">Go to Homepage</a>

	</div>

</body>

</html>